* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.recipe-links {
    font-size: 40px;
}

ol li {
    color: royalblue;
}

ul.ing {
    background-color: chartreuse;
}

#cur {
    color: #10345e;
}

h1#chur {
    color: #8a0d0d;
}

#crab {
    color: goldenrod;
}

.title {
    background-color: rgb(8, 83, 8);
    color: gainsboro;
    text-align: center;
}

.title,
.recipe-box {
    padding: 60px;
    margin: 10px;
}

.recipe-box {
    text-align: center;
}

.box-1 {
    background-color: #10345e;
}

.box-2 {
    background-color: #8a0d0d;
}

.box-3 {
    background-color: goldenrod;
}
.recipe-links a {
    color: gainsboro;
}